<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Initializing Data Source-->
    <bean id="datasource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/gamedata"/>
        <property name="username" value="hzheng20"/>
        <property name="password" value="G652g1265"/>
    </bean>

    <bean id="monsterJdbcTemplate" class="com.Database.MonsterJDBCTemplate">
        <property name="dataSOurce" ref="datasource"/>
    </bean>

</beans>